@keyframes welcome-txt-fade-in {
    10%, 100% { opacity: 1; }
    100% {
       font-size: 11vmin;
       letter-spacing: .75em;
    }
 }
 @keyframes welcome-circles-fade-in {
    25%, 75% { opacity: .75; }
    50% { border-width: 1em; }
    100% {
       opacity: 0;
       border-width: .25em;
    }
 }
 @keyframes welcome-circle-before-grow {
    25%, 75% {
       width: 30vmin;
       height: 30vmin;
    }
 }
 

 #container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }
 
 #welcome::before/*,
 #welcome::after*/ {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    opacity: 0;
    border: 0 solid #FFF;
    border-radius: 50%;
    transform: translate(-50%, -50%);
 }
 
 #welcome::before {
    animation: welcome-circles-fade-in 3s 1s forwards, welcome-circle-before-grow 3s 1s forwards;
 }
 #welcome::after {
    animation: welcome-circles-fade-in 3s 2s forwards, welcome-circle-after-grow 3s 2s forwards;
 }
 
 #welcome #welcome-txt {
    width: 100%;
    opacity: 0;
    font-size: 10vmin;
    text-align: center;
    white-space: nowrap;
    transform: translateY(-.125em);
    animation: welcome-txt-fade-in 4s 1s forwards;
    z-index: 1;
 }